/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-mei-2017, 15:19:08
    Author     : Joost
*/

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,500');
@import url('https://fonts.googleapis.com/css?family=Baloo');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0px;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12pt;
}

/* Reset margins & paddings */
h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo';
    font-weight: 500;
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
}

p {
    line-height: 22pt;
    padding: 10px 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.offview { opacity: 0; margin-left: -20px; }
.inview { -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }

.transition {
    transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

section {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 100px 0;
}

section .content {
    width: 1070px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

section .content .left-content, section .content .right-content {
    width: 50%;
    height: auto;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
}

section .content .left-content {
    padding-right: 40px;
}

section .content .right-content {
    padding-left: 40px;
}

@media only screen and (max-width: 1130px) {
    .content {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
    }
}